/******** polices personnalisées ********/



/******** Styles globaux ****************/


body {
    max-width: 1024px;     /*dimension choisie, réductible*/
    margin: auto;           /*centre le body*/
    background: #EEE;
    box-shadow: 0px 0px 30px 10px #CCC;
}

.yellow {                   /*tous les textes*/
    color: #fdcb46;
    text-align: center;
    font-family: Verdana, serif, sans-serif;
}

.green {
    background: #579c87;
}

.white {
    background: #FFF;
}



/******** HEADER ************************/
header {
    height: 165px;
    display: flex;
    flex-direction: row;    /*def*/
    flex-wrap: nowrap;      /*def*/
    justify-content: center;
    align-items: center;
}

header  h1 {
    font-size: 4em; /**/
}



/******** MAIN **************************/

main .padding_block {
    padding: 7% 10% 7% 10%;
}

main .a_block {
    display: flex;
    flex-wrap: wrap;
}

main .a_block_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

main .a_block_separation {
    height: 50px;
}

main .a_block_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


main  .a_block  a {
    display: flex;      /*a englobe img */
    outline: 0;         /*retire déco séléction(Tab)*/
    box-shadow: 0px 0px 20px 5px #CCC;
    width: 45%;         /* image étirable sans deformer*/
}
main  .a_block  a  img {
    width: 100%;        /*100% de a*/
}





/********************/

main  .p_block {
    height: 139px;     
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main  .p_block  p {
    width: 447px;
    line-height: 81px;     /*height + texte centré*/
    border-radius: 10px;
    font-size: 45px;
    margin: 0;              /*retire les marges*/
}


/******** Footer ************************/

footer {
    /*border: 3px black solid;*/
    height: 95px;                 /*sert d'espace vide pour le child fixed*/
    /*transform: scale(1);*/
}
footer  div {
    /*border: 3px red solid;*/
    height: 95px;
    position: fixed;
    width: 1024px;                  /*position fixed sur le body*/
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}
footer  div  p:nth-child(1) {
    padding-left: 2%;
}
footer  div  p:nth-child(2) {
    padding-right: 2%;
}



/******** MEDIA QUERIES *******************/


@media screen and (max-width: 1040px)
{
    footer  div {
        width: 100%;    /*position fixed sur la fenêtre*/
    }
    
}



@media screen and (max-width: 900px)
{


    header {
        height: 120px; /*mod*/
    }
    
    header  h1 {
        font-size: 3em; /*mod*/
    }

    main .padding_block {
        padding: 5% 8% 5% 8%; /*mod*/
    }
    
    main .a_block {
        display: flex;
        flex-wrap: wrap;
    }
    
    main .a_block_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    main .a_block_separation {
        height: 50px;
    }
    
    main .a_block_2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    
    main  .a_block  a {
        display: flex;      /*a englobe img */
        outline: 0;         /*retire déco séléction(Tab)*/
        box-shadow: 0px 0px 20px 10px #CCC;
        width: 45%;         /* image étirable sans deformer*/
    }
    main  .a_block  a  img {
        
        width: 100%;        /*100% de a*/
    }

    

    main  .p_block {
        max-height: 100px;     /*mod*/
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main  .p_block  p {
        width: 400px;           /*mod*/
        line-height: 72px;      /*mod*/
        border-radius: 10px;
        font-size: 40px;        /*mod*/
        margin: 0;             
    }



    footer {
        height: 80px;              /*mod*/
        /*transform: scale(1);*/
    }
    footer  div {
        height: 70px;               /*mod*/
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;            /*mod*/
    }
    footer  div  p:nth-child(1) {
        padding-left: 2%;
    }
    footer  div  p:nth-child(2) {
        padding-right: 2%;
    }

}



@media screen and (max-width: 500px)
{


    header {
        height: 60px; /*mod*/
    }
    
    header  h1 {
        font-size: 2em; /*mod*/
    }

    main .padding_block {
        padding: 0 0 8% 0;         /*mod*/
    }
    
    main .a_block {
        display: flex;
        flex-wrap: wrap;
    }
    
    main .a_block_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch; /*mod*/
    }
    
    main .a_block_separation {
        display: none;              /*mod*/
    }
    
    main .a_block_2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;    /*mod*/
    }
    
    
    main  .a_block  a {
        border: 1px solid #DDD; /*mod*/
        display: flex;      /*a englobe img */
        outline: 0;         /*retire déco séléction(Tab)*/
        box-shadow: none;           /*mod*/
        width: auto;              /*mod*/
    }
    main  .a_block  a  img {
        width: 100%;        /*100% de a*/
    }

    

    main  .p_block {
        max-height: 80px;     /*mod*/
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main  .p_block  p {
        width: 200px;           /*mod*/
        line-height: 36px;      /*mod*/
        border-radius: 10px;
        font-size: 20px;        /*mod*/
        margin: 0;             
    }



    footer {
        height: 50px;              /*mod*/
        /*transform: scale(1);*/
    }
    footer  div {
        height: 50px;               /*mod*/
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;            /*mod*/
    }
    footer  div  p:nth-child(1) {
        padding-left: 2%;
    }
    footer  div  p:nth-child(2) {
        padding-right: 2%;
    }

    
}

