/******** polices personnalisées ********/



/******** Styles globaux ****************/


body {
    max-width: 1024px;     /*dimension choisie*/
    margin: auto;           /*centre le body*/
    background: #EEE;
    box-shadow: 0px 0px 30px 10px #CCC;
}

.yellow {                   /*tous les textes*/
    color: #fdcb46;
    text-align: center;
    font-family: Verdana, serif, sans-serif;
}

.green {
    background: #579c87;
}

.white {
    background: #FFF;
}



/******** Header ************************/
header {
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header  h1 {
    font-size: 4em;
}



/******** Main **************************/

main  .a_block {
    height: 1231px;
    display: flex;
    flex-wrap: wrap;     /*retour à la ligne auto*/
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-left: 111px; 
    padding-right: 111px;
    padding-top: 68px;
    padding-bottom: 64px;
}
main  .a_block  a {
    width: 365px;
    min-width: 200px;
    display: flex;      /*a englobe img */
    outline: 0;         /*retire déco séléction(Tab)*/
    box-shadow: 0px 0px 20px 10px #CCC;
}
main  .a_block  a  img {
}


main  .p_block {
    height: 139px;     
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main  .p_block  p {
    width: 447px;
    line-height: 81px;     /*height + texte centré*/
    border-radius: 20px;
    font-size: 45px;
    margin: 0;              /*retire les marges*/
}


/******** Footer ************************/

footer {
    border: 3px black solid;
    height: 95px;
    width: 100%;
    /*transform: scale(1);*/
}
footer  div {
    border: 3px red solid;
    height: 95px;
    position: fixed;
    bottom: 0;
    /*right: 0;
    left: 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}
footer  div  p:nth-child(1) {
    border: 3px orange solid;
    padding-left: 2%;
    margin: 0;
}
footer  div  p:nth-child(2) {
    border: 3px orange solid;
    padding-right: 2%;
    margin: 0;
}


/*8 - les Media Queries /**/